:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

/* .playground {
  background-color: aliceblue;
  max-width: 550px;
  max-height: 650px;
  display: grid;
  gap: 1px;


}

.grid-cell {
  background-color: rgb(173, 173, 129);
}

.grid-cell:hover {
  cursor: pointer;
} */

/*index.js*/
.playground {
  background-color: aliceblue;
  width: 500px;
  height: 650px;
  overflow: hidden;
  position: relative;
}

.playground > div {
  position: absolute;
  background-color: red;
}
